@model SCICHRPortal.Web.Models.ViewModels.Admin.LookupsViewModel
@{
    ViewData["Title"] = "Enrollment System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-select-dt/select.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/pages/admin/side-bar.css" asp-append-version="true" />
    <link href="~/css/pages/grading/grading.css" rel="stylesheet" />

}

<div id="content-container" class="row">
    <div class="container col-md-12">
        <div class="left-header-container">
            <img class="icon" src="/images/common/changepasswordbig.png">
                <h1 class="title">Change Password</h1>
        </div>
            <div class="col-md-12 row">
                <form class="col-md-6 m-auto my-3 p-2" id="change-password-form" data-form-endpoint="Authenticated/User/Register" data-grid-id="register-user-grid">
                    <div class="row change-password-container" align="center">
                        <input name="userId" id="UserId" type="number" hidden value=0 class="form-control">
                        <div class="form-group col-md-12">
                            <label asp-for="CurrentPassword" class="col-form-label">Please type your current password</label>
                            <input type="password" asp-for="CurrentPassword" id="current-password" class="form-control">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Password" class="col-form-label">Please type your new password</label>
                            <input type="password" asp-for="Password" id="new-password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="ConfirmPassword" class="col-form-label">Please confirm the new password</label>
                            <input type="password" asp-for="ConfirmPassword" id="confirm-password" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <span class="d-none text-danger unmatched-password-validation">New Password and Confirm Password does not matched.</span>
                        <div id="button-container" class="form-group col-md-12 mt-2" align="center">
                            <button type="submit" class="btn btn-primary add-button save-button">Save</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>


@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/printThis/printThis.min.js"></script>
    <script src="~/lib/handlebars.js/handlebars.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-select-dt/select.dataTables.js"></script>
    <script src="~/lib/datatables.net-select-dt/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-colvis/js/dataTables.colVis.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/helpers/token-helper.js"></script>
    <script src="~/js/pages/dashboard/password.js"></script>
}
