@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration;
@using SCICHRPortal.Utility.Securities;

@inject IAuthorizationService AuthorizationService
@inherits AuthorizePage<TModel>
@{
    bool isAuthorize = await IsAuthorize();
    bool isAdmin = await HasRoleAsync("Administrator");
    bool isRegistrar = await HasRoleAsync("Admission");
    bool hasAdminPermission = await HasRoleByArrayAsync(new string[] { "Administrator", "Admission" });
}
@section Styles{
<link rel="stylesheet" href="~/css/pages/admin/side-bar.css" asp-append-version="true" />
}

@*<input type="hidden" id="isAdmin" value="@isAdmin.ToString()">*@
<div class="modal" id="preview-profile-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="profile-img" src="~/images/svg-images/login-logo.png" alt="avatar" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancel-profile-button" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info" id="save-profile-button">Save</button>
            </div>
        </div>
    </div>
</div>
    <nav id="admin-sidebar" class="col-sm-12 col-md-2 col-xl-2 sidebar nav-items">
        <div id="close-sidebar-icon"><i class="fas fa-times"></i></div>
        <div class="user-side-panel">
            <div class="user-profile">
                <input type="number" hidden class="d-none" id="userId">
                <div class="user-image">
                    @*<i class="fas fa-edit" id="edit-profile-icon" onclick="document.getElementById('change-profile').click()"></i>*@
                    <img id="user-profile-img" class="teacher-photo" src="~/images/user.png" />
                </div>
                <input type="file" class="d-none" id="change-profile" accept="image/png, image/jpeg">

                <h3 class="nickname" id="current-user">username</h3>
                @*<h4 class="nickname" id="user-role">Role</h4>*@
                @*<h4 class="nickname mt-2 pb-5"><img class="icon" src="/images/admin-metadata/Metadata icon.png"> Metadata</h4>*@
            </div>
            <div class="nav-panel">

                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link pl-4 announcement" asp-controller="Dashboard" asp-action="Announcement"><img id="profile-img" src="~/images/common/announcement.png" />  Announcements</a>
                @if (!isAdmin)
                {
                    <a class="nav-link pl-4 user-detail" asp-controller="Dashboard" asp-action="UserDetail">User Details</a>
                }
                <a class="nav-link pl-4 transaction" id="v-pills-transaction-tab" data-toggle="pill" href="#v-pills-transaction" role="tab" aria-controls="v-pills-transaction" aria-selected="false"><img id="profile-img" src="~/images/enrolment/studentmanagement.png" />  Student Management  <img id="profile-img" src="~/images/common/dropdown.png" /></a>
                <div class="transaction-sub-menu d-none" id="transaction-menu">
                    <a class="nav-link pl-4 register-student" asp-controller="Dashboard" asp-action="RegisterStudent"><img id="profile-img" src="~/images/enrolment/registerstudent.png" />  Student Registration</a>
                    @* <a class="nav-link pl-4 register-student-approval" asp-controller="Dashboard" asp-action="RegisterStudentApproval"><img id="profile-img" src="~/images/enrolment/registrationapproval.png" />  Registration Approval</a> *@
                    <a class="nav-link pl-4 registration-application" asp-controller="Dashboard" asp-action="RegistrationApplication"><img id="profile-img" src="~/images/enrolment/registrationapplication.png" />  Registration Application</a>
                    @if (isAdmin)
                    {
                    <a class="nav-link pl-4 enrollment" asp-controller="Dashboard" asp-action="Enrollment"><img id="profile-img" src="~/images/enrolment/enroll.png" />  Enrolment</a>
                    }
                    @if (hasAdminPermission)
                    {                    
                        <a class="nav-link pl-4 reservation" asp-controller="Dashboard" asp-action="Reservation"><img id="profile-img" src="~/images/enrolment/reservation.png" />  Reservation</a>
                    }
                    <a class="nav-link pl-4 bus-rider" asp-controller="Dashboard" asp-action="BusRider"><img id="profile-img" src="~/images/enrolment/busrider.png" />  Bus Rider</a>
                    </div>
                @if (isAdmin)
                {
                    <a class="nav-link pl-4 reference" data-grid-id="reference-grid" id="v-pills-reference-tab" data-toggle="pill" href="#v-pills-reference" role="tab" aria-controls="v-pills-reference" aria-selected="false"><img id="profile-img" src="~/images/enrolment/billing.png" />  Billings  <img id="profile-img" src="~/images/common/dropdown.png" /></a>
                    <div class="reference-sub-menu d-none" id="reference-menu">
                        <a class="nav-link pl-4 payment" asp-controller="Dashboard" asp-area="" asp-action="Payment"><img id="profile-img" src="~/images/enrolment/payment.png" />  Payments</a>
                        <a class="nav-link pl-4 reservation-payment" asp-controller="Dashboard" asp-area="" asp-action="ReservationPayment"><img id="profile-img" src="~/images/enrolment/reservationpayment.png" />  Reservation Payments</a>
                        <a class="nav-link pl-4 statement-of-account" asp-controller="Dashboard" asp-area="" asp-action="SOA"><img id="profile-img" src="~/images/enrolment/statementofaccount.png" />  Statement Of Accounts</a>
                        <a class="nav-link pl-4 bus-payment" asp-controller="Dashboard" asp-area="" asp-action="BusPayment"><img id="profile-img" src="~/images/enrolment/buspayment.png" />  Bus Payments</a>
                        <a class="nav-link pl-4 account-payable" asp-controller="Dashboard" asp-area="" asp-action="AccountPayable"><img id="profile-img" src="~/images/enrolment/accountspayable.png" />  Accounts Payable</a>
                        <a class="nav-link pl-4 account-receivable" asp-controller="Dashboard" asp-area="" asp-action="AccountReceivable"><img id="profile-img" src="~/images/enrolment/accountsreceivable.png" />  Accounts Receivable</a>
                        <a class="nav-link pl-4 refund" asp-controller="Dashboard" asp-area="" asp-action="Refund"><img id="profile-img" src="~/images/enrolment/refund.png" />  Refund</a>
                        <a class="nav-link pl-4 payment-option" asp-controller="Dashboard" asp-area="" asp-action="PaymentOption"><img id="profile-img" src="~/images/enrolment/paymentoption.png" />  Payment Options</a>
                    </div>
                }
                @if (hasAdminPermission)
                {
                    <a class="nav-link pl-4 report" id="v-pills-report-tab" data-toggle="pill" href="#v-pills-report" role="tab" aria-controls="v-pills-report" aria-selected="false"><img id="profile-img" src="~/images/enrolment/report.png" />  Reports  <img id="profile-img" src="~/images/common/dropdown.png" /></a>
                    <div class="report-sub-menu d-none" id="report-menu">
                        <a class="nav-link pl-4 report" asp-controller="Dashboard" asp-action="StudentBalance"><img id="profile-img" src="~/images/enrolment/balance.png" />  Student With Balances</a>
                        <a class="nav-link pl-4 payment-collection-tab not-server-side report" asp-controller="Dashboard" asp-action="PaymentCollection"><img id="profile-img" src="~/images/enrolment/payment.png" />  Payment Collection</a>
                        <a class="nav-link pl-4 receivable-collection-tab not-server-side report" asp-controller="Dashboard" asp-action="ReceivableCollection"><img id="profile-img" src="~/images/enrolment/receivablecollection.png" />  Receivable Collection</a>
                        <a class="nav-link pl-4 enrolled-student-report report" asp-controller="Dashboard" asp-action="EnrolledStudent"><img id="profile-img" src="~/images/enrolment/enroll.png" />  List of Enrolled Students</a>
                        <a class="nav-link pl-4 reserved-student-report report" asp-controller="Dashboard" asp-action="ReservedStudent"><img id="profile-img" src="~/images/enrolment/reservationlist.png" />  List of Reserved Students</a>
                        <a class="nav-link pl-4 enrolled-summary-report report" asp-controller="Dashboard" asp-action="EnrolledSummary"><img id="profile-img" src="~/images/enrolment/enrolledcount.png" />  Summary Count of Enrolled Students</a>
                        <a class="nav-link pl-4 bus-rider-report report" asp-controller="Dashboard" asp-action="BusRider"><img id="profile-img" src="~/images/enrolment/bus.png" />  Bus Riders</a>
                        <a class="nav-link pl-4 student-status-report report" asp-controller="Dashboard" asp-action="StudentStatus"><img id="profile-img" src="~/images/enrolment/listofstatus.png" />  List of Active/Inactive/Dropout Students</a>
                        <a class="nav-link pl-4 student-discount report" asp-controller="Dashboard" asp-action="StudentDiscount"><img id="profile-img" src="~/images/enrolment/studentactualpayment.png" />  Students Actual Payment Summary</a>
                        <a class="nav-link pl-4 student-discount report" asp-controller="Dashboard" asp-action="DiscountSummary"><img id="profile-img" src="~/images/enrolment/actualpayment.png" />  Actual Payment Overall Summary</a>
                        <a class="nav-link pl-4 student-discount report" asp-controller="Dashboard" asp-action="ProjectionSummary"><img id="profile-img" src="~/images/enrolment/projection.png" />  Projected Fees Overall Summary</a>
                        <a class="nav-link pl-4 student-voucher report" asp-controller="Dashboard" asp-action="StudentVoucher"><img id="profile-img" src="~/images/enrolment/studentvoucher.png" />  Students with Voucher</a>
                        <a class="nav-link pl-4 dasboard-report report" asp-controller="Dashboard" asp-action="DashboardReport"><img id="profile-img" src="~/images/enrolment/reservation.png" />  Dashboard</a>
                        @if (isAdmin)
                        {
                            <a class="nav-link pl-4" asp-controller="Dashboard" asp-action="Audit"><img id="profile-img" src="~/images/common/audittrail.png" />  Audit Trail</a>
                        }
                    </div>
                }
                

                @if (!isAdmin)
                {
                    <a class="nav-link meta-data payment-scheme" asp-controller="Dashboard" asp-action="PaymentScheme"><img id="profile-img" src="~/images/enrolment/paymentscheme.png" />  Payment Schemes</a>
                }
                <a class="nav-link pl-4 change-password" asp-controller="Dashboard" asp-action="Password"><img id="profile-img" src="~/images/common/changepassword.png" /> Change Password</a>

                @if (isAdmin)
                {
                    <a class="nav-link pl-4 user" data-grid-id="user-data-grid" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user-data" role="tab" aria-controls="v-pills-user-data" aria-selected="false"><img id="profile-img" src="~/images/common/user.png" />  Users  <img id="profile-img" src="~/images/common/dropdown.png" /></a>
                    <div class="user-sub-menu d-none" id="user-data-menu">
                        <a class="nav-link pl-4 register-user" asp-controller="Dashboard" asp-area="" asp-action="RegisterUser"><img id="profile-img" src="~/images/common/registeruser.png" />  Register User</a>
                        <a class="nav-link pl-4 pending-user" asp-controller="Dashboard" asp-area="" asp-action="PendingUser"><img id="profile-img" src="~/images/common/pendinguser.png" />  Pending Users</a>
                        <a class="nav-link meta-data user-role" asp-controller="Dashboard" asp-action="UserRole"><img id="profile-img" src="~/images/common/userrole.png" />  User Roles</a>
                    </div>

                    <a class="nav-link pl-4 meta-data" data-grid-id="master-data-grid" id="v-pills-master-data-tab" data-toggle="pill" href="#v-pills-master-data" role="tab" aria-controls="v-pills-master-data" aria-selected="false"><img id="profile-img" src="~/images/common/masterdata.png" />  Master Data  <img id="profile-img" src="~/images/common/dropdown.png" /></a>
                    <div class="master-data-sub-menu d-none" id="master-data-menu">
                        <a class="nav-link meta-data  payment-scheme" asp-controller="Dashboard" asp-action="PaymentScheme"><img id="profile-img" src="~/images/enrolment/paymentscheme.png" />  Payment Schemes</a>
                        <a class="nav-link meta-data student-type" asp-controller="Dashboard" asp-action="StudentType"><img id="profile-img" src="~/images/enrolment/studenttype.png" />  Student Types</a>
                        <a class="nav-link meta-data receivable-type" asp-controller="Dashboard" asp-action="ReceivableType"><img id="profile-img" src="~/images/enrolment/receivabletype.png" />  Receivable Types</a>
                        <a class="nav-link meta-data bus" asp-controller="Dashboard" asp-action="Bus"><img id="profile-img" src="~/images/enrolment/bus.png" />  Buses</a>
                        <a class="nav-link meta-data school-year" asp-controller="Dashboard" asp-action="SchoolYear"><img id="profile-img" src="~/images/common/schoolyear.png" />  School Year</a>
                        <a class="nav-link meta-data gender" asp-controller="Dashboard" asp-action="Gender"><img id="profile-img" src="~/images/common/gender.png" />  Genders</a>
                        <a class="nav-link meta-data classSchedule" asp-controller="Dashboard" asp-action="ClassSchedule"><img id="profile-img" src="~/images/schedule/scheduling.png" />  Class Schedules</a>
                        <a class="nav-link meta-data gradeLevel" asp-controller="Dashboard" asp-action="GradeLevel"><img id="profile-img" src="~/images/common/gradelevel.png" />  Grade Levels</a>
                        <a class="nav-link meta-data section" asp-controller="Dashboard" asp-action="Section"><img id="profile-img" src="~/images/common/sectionlist.png" />  Sections</a>
                        <a class="nav-link meta-data requirement" asp-controller="Dashboard" asp-action="Requirement"><img id="profile-img" src="~/images/enrolment/requirement.png" />  Requirements</a>
                        <a class="nav-link meta-data payment-type" asp-controller="Dashboard" asp-action="PaymentType"><img id="profile-img" src="~/images/enrolment/paymentoption.png" />  Payment Types</a>
                        <a class="nav-link meta-data holiday" asp-controller="Dashboard" asp-action="Holiday"><img id="profile-img" src="~/images/enrolment/holiday.png" />  Holidays</a>
                        <a class="nav-link meta-data discount-type" asp-controller="Dashboard" asp-action="DiscountType"><img id="profile-img" src="~/images/enrolment/discounttype.png" />  Discount Types</a>
                    </div>
                    <a class="nav-link pl-4 setting" data-grid-id="setting-grid" id="v-pills-setting-tab" data-toggle="pill" href="#v-pills-setting" role="tab" aria-controls="v-pills-setting" aria-selected="false"><img id="profile-img" src="~/images/common/process.png" />  Settings  <img id="profile-img" src="~/images/common/dropdown.png" /></a>
                    <div class="setting-sub-menu d-none" id="setting-data-menu">
                        <a class="nav-link setting reservation-setting" asp-controller="Dashboard" asp-action="Setting"><img id="profile-img" src="~/images/enrolment/reservationsetting.png" />  Reservation</a>
                        <a class="nav-link setting start-school-year" asp-controller="Dashboard" asp-action="StartSchoolYear"><img id="profile-img" src="~/images/enrolment/startclass.png" />  Start Classes</a>
                        <a class="nav-link setting soa-setting" asp-controller="Dashboard" asp-action="SoaSetting"><img id="profile-img" src="~/images/enrolment/soasetting.png" />  Statement of Account Settings</a>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="content-sign-out-menu">
        <span class="help">Need help?<a href="/files/pdf/enrolment-help.pdf" target="blank" class="help" style="text-decoration-line:underline">click here</a></span>
        <a id="main-menu" class="content-sign-out-btn"><img class="icon" src="/images/common/home.png">  Home</a>
        <a id="log-out" class="content-sign-out-btn"><img class="icon" src="/images/common/logout.png">  Logout</a>
    </div>
</nav>
        
