@model SCICHRPortal.Web.Models.ViewModels.Administration.CutOffViewModel
@{
    ViewData["Title"] = "Administration System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-select-dt/select.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/pages/admin/side-bar.css" asp-append-version="true" />
    <link href="~/css/pages/grading/grading.css" rel="stylesheet" />

}
<div class="modal" id="cutoff-modal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document" style="width: 1100px">
        <form id="cutoff-form">
            <div class="modal-content">
                <div class="form-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addModalLabel">Cut Off Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="row col-md-12 mx-auto" align="center">
                                <input name="cutOffId" id="CutOffId" hidden type="number" value=0 class="form-control">
                                <div class="col-md-12 mr-auto row">
                                    <div class="form-group col-md-12">
                                        <label asp-for="StartDate" class="col-form-label">Start Date</label>
                                        <input type="date" asp-for="StartDate" class="form-control">
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label asp-for="EndDate" class="col-form-label">End Date</label>
                                        <input type="date" asp-for="EndDate" class="form-control">
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="checkbox" asp-for="IsActive" class="mb-2">
                                        <label asp-for="IsActive" class="mb-2" style="color:white">Is Active?</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer register-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary cancel-button save-button">Cancel</button>
                    <button type="submit" id="cutoff-modal-btn" class="btn btn btn-primary save-button">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="content-container" class="row">
    <div class="container col-md-12">
        <div class="left-header-container">
            <img class="icon" src="/images/administration/cutoffbig.png">
            <h1 class="title">Cut Offs</h1>
        </div>
        <button class="btn btn-primary add-new-btn" id="add-button">Add new</button>
        <table id="cutoff-grid" class="display" cellspacing="0" width="100%">
        </table>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/printThis/printThis.min.js"></script>
    <script src="~/lib/handlebars.js/handlebars.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-select-dt/select.dataTables.js"></script>
    <script src="~/lib/datatables.net-select-dt/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-colvis/js/dataTables.colVis.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/helpers/token-helper.js"></script>
    <script src="~/js/pages/administration/cutoff.js"></script>
}
