@model SCICHRPortal.Web.Models.ViewModels.Administration.ShiftViewModel
@{
    ViewData["Title"] = "Administration System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-select-dt/select.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/pages/admin/side-bar.css" asp-append-version="true" />
    <link href="~/css/pages/grading/grading.css" rel="stylesheet" />

}
<div class="modal" id="shift-modal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document" style="width: 1100px">
        <form id="shift-form">
            <div class="modal-content">
                <div class="form-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addModalLabel">Shift Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="row col-md-12 mx-auto" align="center">
                                <input name="shiftId" id="ShiftId" hidden type="number" value=0 class="form-control">
                                <div class="col-md-12 mr-auto row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="ShiftName" class="col-form-label">Shift Name</label>
                                        <input type="text" asp-for="ShiftName" class="form-control">
                                        <span asp-validation-for="ShiftName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="ShiftStart" class="col-form-label">Shift Start</label>
                                        <input type="time" asp-for="ShiftStart" class="form-control">
                                        <span asp-validation-for="ShiftName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="ShiftEnd" class="col-form-label">Shift End</label>
                                        <input type="time" asp-for="ShiftEnd" class="form-control">
                                        <span asp-validation-for="ShiftEnd" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="BreakStart" class="col-form-label">Break Start</label>
                                        <input type="time" asp-for="BreakStart" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="BreakEnd" class="col-form-label">Break End</label>
                                        <input type="time" asp-for="BreakEnd" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="RestDays" class="text-white select2-label"> Rest Day(s)</label>
                                        <select asp-for="RestDays" id="RestDays" class="form-control" style="width:100%">
                                            <option value="1">Monday</option>
                                            <option value="2">Tuesday</option>
                                            <option value="3">Wednesday</option>
                                            <option value="4">Thursday</option>
                                            <option value="5">Friday</option>
                                            <option value="6">Saturday</option>
                                            <option value="7">Sunday</option>
                                        </select>
                                        <span asp-validation-for="RestDays" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 mr-auto row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="ShiftLateMinuteGracePeriod" class="col-form-label">Shift Late Grace Period</label>
                                        <input type="number" asp-for="ShiftLateMinuteGracePeriod" class="form-control">
                                        <span asp-validation-for="ShiftLateMinuteGracePeriod" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="BreakLateMinuteGracePeriod" class="col-form-label">Break Late Grace Period</label>
                                        <input type="number" asp-for="BreakLateMinuteGracePeriod" class="form-control">
                                        <span asp-validation-for="BreakLateMinuteGracePeriod" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="ShiftLateTotalMinuteLimit" class="col-form-label">Shift Late Total Minute Limit</label>
                                        <input type="number" asp-for="ShiftLateTotalMinuteLimit" class="form-control">
                                        <span asp-validation-for="ShiftLateTotalMinuteLimit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="BreakLateTotalMinuteLimit" class="col-form-label">Break Late Total Minute Limit</label>
                                        <input type="number" asp-for="BreakLateTotalMinuteLimit" class="form-control">
                                        <span asp-validation-for="BreakLateTotalMinuteLimit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="NoTimeLogCountLimit" class="col-form-label">No Timelog Count Limit</label>
                                        <input type="number" asp-for="NoTimeLogCountLimit" class="form-control">
                                        <span asp-validation-for="NoTimeLogCountLimit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="NoLeaveAbsentCountLimit" class="col-form-label">No Leave Count Limit</label>
                                        <input type="number" asp-for="NoLeaveAbsentCountLimit" class="form-control">
                                        <span asp-validation-for="NoLeaveAbsentCountLimit" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer register-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary cancel-button save-button">Cancel</button>
                    <button type="submit" id="shift-modal-btn" class="btn btn btn-primary save-button">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="content-container" class="row">
    <div class="container col-md-12">
        <div class="left-header-container">
            <img class="icon" src="/images/administration/shiftbig.png">
            <h1 class="title">Shifts</h1>
        </div>
        <button class="btn btn-primary add-new-btn" id="add-button">Add new</button>
        <table id="shift-grid" class="display stripe" cellspacing="0" width="100%">
        </table>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/printThis/printThis.min.js"></script>
    <script src="~/lib/handlebars.js/handlebars.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-select-dt/select.dataTables.js"></script>
    <script src="~/lib/datatables.net-select-dt/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-colvis/js/dataTables.colVis.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/helpers/token-helper.js"></script>
    <script src="~/js/pages/administration/shift.js"></script>
}
