@model SCICHRPortal.Web.Models.ViewModels.Administration.TimekeepingAdminSetupViewModel;
@{
    ViewData["Title"] = "Enrollment System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-select-dt/select.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/pages/admin/side-bar.css" asp-append-version="true" />
    <link href="~/css/pages/grading/grading.css" rel="stylesheet" />

}

<div id="content-container" class="row">
    <div class="container col-md-12">
        <div class="left-header-container">
            <img class="icon" src="/images/administration/timekeepingadminsetupbig.png">
            <h1 class="title">Timekeeping Administration Setup</h1>
        </div>
        <form id="setting-form">
            <div class="row">
                <div class="row col-md-12 mx-auto" align="center">
                    <input name="settingId" id="SettingId" type="number" value=0 hidden class="form-control">
                    <div class="col-md-12 mr-auto row">
                        <div class="border border-white">
                            <div class="form-group col-md-4">
                                <label asp-for="ShiftLateMinuteGracePeriod" class="col-form-label">Shift Late Grace Period</label>
                                <input type="number" asp-for="ShiftLateMinuteGracePeriod" class="form-control lowercase">
                                <span asp-validation-for="ShiftLateMinuteGracePeriod" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="BreakLateMinuteGracePeriod" class="col-form-label">Break Late Grace Period</label>
                                <input type="number" asp-for="BreakLateMinuteGracePeriod" class="form-control">
                                <span asp-validation-for="BreakLateMinuteGracePeriod" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="ShiftLateTotalMinuteLimit" class="col-form-label">Shift Total Minute Limit</label>
                                <input type="number" asp-for="ShiftLateTotalMinuteLimit" class="form-control lowercase">
                                <span asp-validation-for="ShiftLateTotalMinuteLimit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="border border-white">
                            <div class="form-group col-md-4">
                                <label asp-for="BreakLateTotalMinuteLimit" class="col-form-label">Break Total Minute Limit</label>
                                <input type="number" asp-for="BreakLateTotalMinuteLimit" class="form-control lowercase">
                                <span asp-validation-for="BreakLateTotalMinuteLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="NoTimeLogCountLimit" class="col-form-label">No Timelog Limit Count</label>
                                <input type="number" asp-for="NoTimeLogCountLimit" class="form-control">
                                <span asp-validation-for="NoTimeLogCountLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="NoLeaveAbsentCountLimit" class="col-form-label">No Leave Limit Count</label>
                                <input type="number" asp-for="NoLeaveAbsentCountLimit" class="form-control lowercase">
                                <span asp-validation-for="NoLeaveAbsentCountLimit" class="text-danger"></span>
                            </div>
                     
                        </div>
                        <div class="border border-white" style="padding-top: 40px; position: relative; z-index: 1;">
                            <label asp-for="RestDays" class="col-form-label">Rest Day(s)</label>
                            @* <label asp-for="RestDays" class="col-form-label" style="display: block; margin-bottom: 10px; background: black; position: relative; z-index: 3;">Rest Day(s)</label> *@
                            <div class="form-group col-md-4" style="position: relative; z-index: 2;">
                                <select asp-for="RestDays" id="RestDays" class="form-control">
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="7">Sunday</option>
                                </select>
                                <span asp-validation-for="RestDays" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer register-footer">
                @*<button type="button" data-bs-dismiss="modal" class="btn btn-secondary cancel-button save-button">Cancel</button>*@
                <button type="submit" id="student-type-modal-btn" class="btn btn btn-primary save-button">Save</button>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/printThis/printThis.min.js"></script>
    <script src="~/lib/handlebars.js/handlebars.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-select-dt/select.dataTables.js"></script>
    <script src="~/lib/datatables.net-select-dt/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-colvis/js/dataTables.colVis.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/helpers/token-helper.js"></script>
    <script src="~/js/pages/administration/timekeeping-admin-setup.js"></script>
}
